@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.webgl {
  margin: 0;
  padding: 0;
position: fixed;
}

.main{
 position: absolute;
  color: red;
  top: 6em;
  left : 12em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  right: 70em;
}