@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.webgl {
  margin: 0;
  padding: 0;
position: fixed;
}

.main{
 position: absolute;
  color: red;
  left : 30em;
  font-family: 'Roboto', sans-serif;
  right: 60em;
}